# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: NeuralProphet
version: "0.0.1"
slug: neuralprophet
description: NeuralProphet add-on
url: "https://github.com/sunnysideal/hass-addons/neuralprophet"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
init: false
map:
  - addon_config:rw
